<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Review product</p>
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= itemid.image %>" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">
                            Rs.
                            <%= itemid.price %>

                                <p>
                                    <%= itemid.quantity %>
                                </p>
                        </h4>

                        <h2>
                            <%= itemid.name %>
                        </h2>
                        <h4 style="font-style: italic;">
                            A Quality product by-
                            <%= itemid.author.username %>
                        </h4>
                        <p>
                            <%= itemid.description %>
                        </p>


                    </div>
                </div>
            </div>
            <div class=" col-md-9">
                <h1>Please Fill Your Address</h1>
                <form action="/campgrounds/<%= itemid._id %>/address" method="POST">
                    <div style="width: 30%; margin-top: 25px auto;">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input required class="form-control" type="text" name="firstname" placeholder="First Name">
                            <label for="">Last Name</label>
                            <input required class="form-control" type="text" name="lastname" placeholder="Last Name">
                            <label for="">Adress</label>
                            <input required class="form-control" type="text" name="address" placeholder="Address Line">
                            <label for="">Land Mark</label>
                            <input required class="form-control" type="text" name="landmark" placeholder="Land Mark">
                            <label for="">Phone Number</label>
                            <input required pattern="\d*" minlength="4" class="form-control" type="number" name="phonenumber" placeholder="PhoneNumber">
                        </div>
                        <button class="btn btn-success">Order</button>

                    </div>

                </form>








            </div>


        </div>


    </div>


    <%- include('../partials/footer') %>